<h1>Angular Fundamentals</h1>
<span>Step 1: Install Angular CLI <a href="https://angular.io/guide/quickstart#ref=googlane.com&amp;prefixer=gg&amp;shortURL=gg.com&amp;" target="_blank">Here</a>. Follow Instructions On Page</span>
<br>
<span>Step 2: Create a new Angular project: <b class=gg-code>ng new ng-seed</b></span>
<br>
<span>Step 3: Change directory: <b class=gg-code>cd PATH/TO/ng-seed</b></span>
<br>
<mat-checkbox [(indeterminate)]="indeterminate">I Accept Coursetro's Privacy Policy and Terms of Service.</mat-checkbox>
<br>
<br>
<a href="https://goo.gl/77uqca" target="_blank" color="accent" mat-raised-button>View Written Version</a>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/z4JUm0Bq9AM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
