<h1>Googlane Pricing</h1>
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fab fa-telegram-plane"></i>
              <h2>Starter</h2>
            </div>
            <div class="price">
              <h4>
                <sup>$</sup>0.00</h4>
            </div>
            <div class="option">
              <ul>
                <li>
                  <i class="fas fa-check"></i> Access To Free Content</li>
                <li>
                  <i class="fas fa-times"></i> Access To All Content</li>
                <li>
                  <i class="fas fa-times"></i> Lifetime Access</li>
                <li>
                  <i class="fas fa-times"></i> Lifetime Support</li>
              </ul>
            </div>
            <a routerLink="thank-you">Subscribe</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fas fa-plane"></i>
              <h2>Pro</h2>
            </div>
            <div class="price">
              <h4>
                <sup>$</sup>19.99</h4>
            </div>
            <div class="option">
              <ul>
                <li>
                  <i class="fas fa-check"></i> Access To All Content</li>
                <li>
                  <i class="fas fa-check"></i> Access To All Free Content</li>
                <li>
                  <i class="fas fa-check"></i> Lifetime Access</li>
                <li>
                  <i class="fas fa-times"></i> Lifetime Support</li>
              </ul>
            </div>
            <a routerLink="thank-you">Subscribe</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fas fa-rocket"></i>
              <h2>Ultimate</h2>
            </div>
            <div class="price">
              <h4>
                <sup>$</sup>49.99</h4>
            </div>
            <div class="option">
              <ul>
                <li>
                  <i class="fas fa-check"></i> Access To All Content</li>
                <li>
                  <i class="fas fa-check"></i> Access To All Free Content</li>
                <li>
                  <i class="fas fa-check"></i> Lifetime Access</li>
                <li>
                  <i class="fas fa-check"></i> Lifetime Support</li>
              </ul>
            </div>
            <a routerLink="thank-you">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
