<h1 id="table-of-contents">Table Of Contents</h1>
<br>
<mat-divider></mat-divider>
<br>
<h2>Cloud</h2>
<a href="#cloud/api-v1/gcp">Google Cloud Platform</a>
<br>
<a href="#cloud/api-v1/aws">Amazon Web Services</a>
<br>
<br>
<mat-divider></mat-divider>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular Fundamentals Lab</mat-card-title>
    <mat-card-subtitle>Level: Beginner</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/favicons/favicon-194x194.png" alt="Angular">
  <mat-card-content>
    <p>
      Angular is one of the world's most commonly used framework. Get started now for free.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="gg-uppercase" [routerLink]="['/ng-fundamentals']" target="_blank">
      take lab
      <svg fit="" focusable="false" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
      </svg>
    </a>
    <button mat-button class="gg-uppercase">
      share
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular Material</mat-card-title>
    <mat-card-subtitle>Upcoming</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/favicons/favicon-194x194.png" alt="Angular Material">
  <mat-card-content>
    <span>
      Don't know CSS/SCSS and want to make a site with Angular? Then this course is for you.
      Classroom opens August 31, 2018.
      <br>
      <br>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              FAQs
            </mat-panel-title>
            <mat-panel-description>
              Classroom Opens 8/31/18
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>FAQs</h3>
          <span class="question">Is the classroom free?</span>
          <br>
          <span class="answer">Yes, it's always free.</span>
          <br>
          <br>
          <span class="question">Does the content expire?</span>
          <br>
          <span class="answer">Yes, it expires on September 20, 2018.</span>
          <br>
          <br>
          <span class="question">When the classroom end?</span>
          <br>
          <span class="answer">On September 20, 2018 or when you finish the course, whatever comes first.</span>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <button class="btn-green gg-uppercase mat-button" disabled="disabled" style="cursor: not-allowed;">enroll</button>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="gg-uppercase" style="cursor: not-allowed;" disabled="disabled">
      take lab
      <svg fit="" focusable="false" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
      </svg>
    </button>
    <button mat-button class="gg-uppercase">
      share
    </button>
  </mat-card-actions>
</mat-card>
<h1>Cloud</h1>
<mat-divider></mat-divider>
<br>
<h2 id="cloud/api-v1/gcp">Google Cloud Platform</h2>
<mat-divider></mat-divider>
<br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Google Cloud Essentials</mat-card-title>
    <mat-card-subtitle>Level: Beginner</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://s3.amazonaws.com/run-qwiklab-website-prod/badges/images/23/original/GCP_Essentials.png?1488763493"
    alt="Google Cloud Platform Essentials">
  <mat-card-content>
    <p>
      In this introductory-level quest, you will get hands-on practice with the Google Cloud Platform’s fundamental tools and services.
      GCP Essentials is Qwiklabs’ most popular quest and for good reason—you will come in with little, or no prior cloud
      knowledge and come out with practical experience that you can apply to any GCP project. From writing Cloud Shell commands
      and deploying your first virtual machine, to running applications on Kubernetes Engine with load balancing, GCP Essentials
      is a prime introduction to the platform’s features.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="gg-uppercase" href="https://google.qwiklabs.com/quests/23" target="_blank">
      take quest
      <svg fit="" focusable="false" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
      </svg>
      <div class="expired expired-form animated">
        <img src="https://png.icons8.com/material/24/000000/expired.png">
        Expires: 8/20/18
      </div>
    </a>
    <button mat-button class="gg-uppercase">
      share
    </button>
  </mat-card-actions>
</mat-card>
<br>
<h2 id="cloud/api-v1/aws">Amazon Web Services</h2>
<mat-divider></mat-divider>
<br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Qwiklabs Amazon Web Services</mat-card-title>
    <mat-card-subtitle>Level: Beginner-Advanced</mat-card-subtitle>
  </mat-card-header>
  <img src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png" alt="Amazon Web Services" mat-card-image>
  <mat-card-content>
    <p>
      An Amazon Web Services(AWS) account is required to succeed.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="gg-uppercase" href="https://amazon-run.qwiklabs.com/catalog?keywords=&format%5B%5D=any&level%5B%5D=any&duration%5B%5D=any&price%5B%5D=free&language%5B%5D=en&per_page=50" target="_blank">
      take labs
      <svg fit="" focusable="false" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
      </svg>
      <div class="expired expired-form animated">
        <img src="https://png.icons8.com/material/24/000000/expired.png">
        Expires: 8/20/18
      </div>
    </a>
    <button mat-button class="gg-uppercase">
      share
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Linux Academy - Project Omega</mat-card-title>
    <mat-card-subtitle>Level: Beginner-Advanced</mat-card-subtitle>
  </mat-card-header>
  <img src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png" alt="Amazon Web Services" mat-card-image>
  <mat-card-content>
    <p>
      An Amazon Web Services(AWS) account is required to succeed.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <b>Note that this course requires a Premium Googlane Subscription. Get A Premium Subscription <a href="mailto:aaronhma@gmail.com">Now</a>.</b>
    <button class="btn-green gg-uppercase mat-button" routerLink="enroll">enroll</button>
    <a mat-button class="gg-uppercase" routerLink="linux-academy" target="_blank">
      take labs
      <svg fit="" focusable="false" height="40" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
      </svg>
      <div class="expired expired-form animated">
        <img src="https://png.icons8.com/material/24/000000/expired.png">
        Expires: 8/20/18
      </div>
    </a>
    <button mat-button class="gg-uppercase">
      share
    </button>
  </mat-card-actions>
</mat-card>
<br>
<h1>Want More Content? Every week we update this page. Don't want to wait to next week and still want more content? <a routerLink="pricing" class="mat-button gg-uppercase btn-green">Why Not Get A Subscription?</a></h1>
